/*   navbar css and starter css*/


@font-face{
  font-family: "Kapiler";
  src:url(font.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  :root {
    --bgcolor: #dde1e7;
    --textcolor: rgb(0, 0, 0);
   }

  
  ::-webkit-scrollbar {
  
    width: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background:var(--bgcolor);
    /* background-color: rgb(0, 255, 217); */
  }
  ::-webkit-scrollbar-thumb {
  
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
  
  }
  
  
  body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bgcolor);
  }
  
  
  .fullnav{
    /* background-color: red; */
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
  }
  .navbaarrr {
    box-shadow: 0px 0px 5px var(--textcolor) !important;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
  }
  .header_icon{
    margin-right: 20px;
  }
  nav a {
    /* font-size: 18px; */
    color: var(--textcolor) !important;
    margin-left: 20px;
    padding: 5px 20px !important;
  }

  nav a:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .active {
    /* box-shadow: inset 0px 0px 3px white; */
    border-bottom: 1px solid var(--textcolor) !important;
  }
  
  .offcanvas-header{
    /* background-color: var(--bgcolor); */
    background-color: rgba(23, 39, 72, 0.43) !important;
    backdrop-filter: blur(100px);
  }
  .offcanvas-body{
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter:blur(10px) ;
  
  }
  
  .brand_name {
    /* color: var(--textcolor); */
    /* color: rgb(255, 0, 0) !important; */
    letter-spacing: 1vw;
    text-shadow: 1px 0px var(--textcolor);
    font-family: Kapiler  !important;
    
  }

  .brand_name_1{
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter:blur(10px) ;
    /* background-color: rgba(39, 79, 144, 0.4); */
    border-radius: 10% 5px  ;
    font-family: Kapiler  !important;
    /* font-weight: 900; */

  }
  

  .font{
    font-family: "Kapiler"  !important;

  }
  
  .nav_manu_togal button {
    background-color: rgb(0, 255, 229);
  }
  .nav_togal {
    background-color: var(--bgcolor);
  }

  .navbar-toggler{
   
    box-shadow:inset -5px -5px 9px #ffffff61 ,inset 5px 5px 7px #5e687993 !important;

  }





  @media only screen and (max-width: 995px) {
    .active {
      border-top: 1px solid var(--bgcolor) !important;
      border-bottom: 1px solid var(--bgcolor) !important;
    }
    .nav-item a {
     /* background-color: red; */
     /* margin-left: 0px !important; */
     margin-top: 20px;
      padding: 10px 0px !important; 
      text-align: center;
  
    }

    .brand_name_2{
      color: rgb(255, 255, 255) !important;
    }

    .brand_name_2 a{
      color: rgb(255, 255, 255) !important;
    }


  
  }
    